.WebContainer{
	width: 100%;
	height: auto;
	margin: auto;
}

.body {
	background-image: url(../img/3_BLM_PROTESTS.svg);
	height: auto;
	margin: auto;
	background-position: center;
	background-attachment: fixed;
	background-size: 50%;
	background-repeat: no-repeat;
	
}



.fixed {
	position: fixed;
  bottom: 5%;
  right: 5%;
	text-decoration: none;
	font-size: 1em;
	padding: .5em .5em;
	border-radius: 3px;
	border: 2px solid #f4f4f4;
}

.about:hover {
	border-color: #4a41fb;
}

.donations {
	float: left;
	text-decoration: none;
	font-size: 1em;
	padding: .5em .5em;
	border-radius: 3px;
	border: 2px solid #f4f4f4;
}

.donations:hover {
	border-color: #4a41fb;
}

.home {
	float: right;
	text-decoration: none;
	font-size: 1em;
	padding: .5em .5em;
	border-radius: 3px;
	border: 2px solid #f4f4f4;
}

.home:hover {
	border-color: #4a41fb;
}

h1 {
	color: salmon;
	text-align: center;
	font-size: 40px;
	font-family: 'Fredericka the Great', cursive;
	
}

h2 {
	font-size: 60px;
	padding-top: 9%;
	padding-left: 15%;
}

.row {
	text-align: center;
	font-size: 15px;
	padding-top: 0%;
	margin-bottom: 2%;
}

.image {
	padding-left: 25%;
}

#jumbo {
	font-family: 'Cormorant Garamond', serif;
	color: rgb(80, 78, 78);
	font-size: 15px;
}



.contact {
	font-family: 'Cormorant Garamond', serif;
	float: left;
}